h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h3{
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    color: rgb(55, 145, 230);
    background-color: black;
    border-color: fuchsia;
    border-width: 7px;
    border-style: ridge groove;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    padding: 3px;
    list-style: none;
    margin: none;
}
li{
    padding: 20px;
    
}
a{
    color: fuchsia;
    text-decoration: overline underline;
    text-decoration-style: none;
}
img{
    padding: 3px;
}
p{
    padding: 5px;
}
abbr{
    text-decoration: underline;
    text-decoration-style: none;
}