h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(128, 128, 128, 0.26);
}
h3{
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    color: rgb(55, 145, 230);
    background-color: black;
    border-color: fuchsia;
    border-width: 7px;
    border-style: ridge groove;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    list-style: none;
    margin: none;
}
li{
   
    padding: 1em;
    
}
li::first-letter{
    font-weight: bold;
}
a{
    color: fuchsia;
    text-decoration: overline underline;
    text-decoration-style: none;
    padding: 1em;
}
img{
    padding:none;
}
p{
    padding: 5px;
}
abbr{
    text-decoration: underline;
    text-decoration-style: none;
}